.password-strength {
  display: flex;
  width: 300px;
}

.section {
  flex: 1;
  height: 10px;
  margin: 2px;
  border-radius: 3px;
}

.grey {
  background-color: #d3d3d3; /* Grey */
}

.red {
  background-color: #ff4136; /* Red */
}

.yellow {
  background-color: #ffdc00; /* Yellow */
}

.green {
  background-color: #2ecc40; /* Green */
}
