.password-strength {
  display: flex;
  width: 300px;
}

.section {
  border: 1px solid black;
  flex: 1;
  height: 10px;
  margin: 2px;
  border-radius: 3px;
}

.grey {
  background-color: #d3d3d3;
}

.red {
  background-color: #ff4136;
}

.yellow {
  background-color: #ffdc00;
}

.green {
  background-color: #2ecc40;
}
